BOT_TOKEN="8536890617:AAHt0UErQrvpkA0TISt-jbjJbPlkSWCIzI4"
OWNER_ID="6622288988"
MONGO_URL="mongodb+srv://cyberpravin:cyberpravin@cluster0.tmywgrc.mongodb.net/?appName=Cluster0"
OWNER_USERNAME="zyndx"
