BOT_TOKEN="8554161252:AAGHsmDmA3FlvIV1LdAqtKyMpohNsWiEj_g"
OWNER_ID="6622288988"
MONGO_URL="mongodb+srv://cyberpravin:cyberpravin@cluster0.tmywgrc.mongodb.net/?appName=Cluster0"
OWNER_USERNAME="zyndx"
